@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.canvas_container {
	z-index: 0; /* Set a local z-index ctx for the workspace */
}

@media (max-width: 1200px) {
	.canvas_container {
		/* there is too much padding by gradio containers, this removes some */
		margin-left: -10px;
		margin-right: -10px;

		/* without this the canvas sticks inside the positive prompt box, looking bad */
		margin-bottom: 10px;
	}
}

.canvas_container nav {
    margin-top: -3px; /* Fix the gap between the top of the page and the nav */
    font-family: "Inter", sans-serif;
	position: sticky;
	top: 0;
	z-index: 1; /* Allows it to float on top of the canvas when sticky */
	background: var(--panel-background-fill); /* Needs to remember background color when sticky */
}

.canvas_container nav ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 3px;
}

.canvas_container nav ul li{
	transition: background-color 0.1s ease;
	background: 0;
	border: 0;
	white-space: nowrap;
	border-radius: 4px;
	padding: 2px 10px 2px 10px;
	text-align: left;
	font-size: 14px;
	animation: menuItemAnimation 0.2s 0s both;
	cursor: pointer;
    color: #c8c8c8;
}


.canvas_container nav ul li:first-child {
    /* The first child of the list needs to appear vertically aligned with the left side of the canvas */
	padding-left: 2px;
}

.canvas_container nav ul li:hover {
    background-color: rgba(217,217,217,0.18);
}

.canvas_container nav ul li a{
    font-weight: normal;
}


/* Context Menu */
 .contextMenu {
	--menu-border: rgba(255, 255, 255, 0.08);
	--item-border: rgba(255, 255, 255, 0.1);
	--item-color: #fff;
	--item-bg-hover: rgba(255, 255, 255, 0.1);
	height: 0;
	overflow: hidden;
	backdrop-filter: blur(5px);
	position: fixed;
	top: var(--top);
	left: var(--left);
	animation: menuAnimation 0s 0s both;
	transform-origin: left;
	list-style: none;
	margin: 4px;
	padding: 0;
	display: flex;
	flex-direction: column;
	z-index: 10;
	max-width: 800px;

	background: #111827d1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 .contextMenu-item {
	 padding: 4px;
}
 .contextMenu-item[data-divider="top"] {
	 border-top: 1px solid;
}
 .contextMenu-item[data-divider="bottom"] {
	 border-bottom: 1px solid;
}
 .contextMenu-item[data-divider="top-bottom"] {
	 border-top: 1px solid;
	 border-bottom: 1px solid;
}
 .contextMenu-item[data-divider] {
	 border-color: var(--item-border);
}
 .contextMenu-button {
	 color: var(--item-color);
	 background: 0;
	 border: 0;
	 white-space: nowrap;
	 width: 100%;
	 border-radius: 4px;
	 padding: 6px 24px 6px 7px;
	 text-align: left;
	 display: flex;
	 align-items: center;
	 font-size: 14px;
	 width: 100%;
	 animation: menuItemAnimation 0.2s 0s both;
	 font-family: "Inter", sans-serif;
	 cursor: pointer;
}
 .contextMenu-button:hover {
	 background-color: var(--item-bg-hover);
}
 @keyframes menuAnimation {
	 0% {
		 opacity: 0;
		 transform: scale(0.5);
	}
	 100% {
		 height: var(--height);
		 opacity: 1;
		 border-radius: 8px;
		 transform: scale(1);
	}
}
 @keyframes menuItemAnimation {
	 0% {
		 opacity: 0;
		 transform: translateX(-10px);
	}
	 100% {
		 opacity: 1;
		 transform: translateX(0);
	}
}


/* Notification center */
.canvas_container .notification {
	--hue: 223;
	--transDur: 0.15s;
	z-index: 2;

	color: var(--body-text-color);
	font: 1em/1.5 "DM Sans", "Helvetica Neue", Helvetica, sans-serif;
	padding-bottom: 0.75em;
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	width: 20.75em;
	max-width: calc(100% - 3em);
	transition: transform 0.15s ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.canvas_container .notification__btns {
	box-shadow: -1px 0 0 var(--border-color-primary);
	flex-direction: column;
	flex-shrink: 0;
	min-width: 4em;
	height: 100%;
	transition: box-shadow var(--transDur);
}
.canvas_container .notification__btn {
	background-color: transparent;
	color: var(--body-text-color);
	box-shadow: 0 0 0 var(--border-color-primary) inset;
	line-height: 1;
	height: 100%;
	padding: 0 0.5rem;
	transition:
		background-color var(--transDur),
		color var(--transDur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.notification__box,
.notification__content,
.notification__btns {
	display: flex;
}
.notification__box,
.notification__content {
	align-items: center;
}
.canvas_container .notification__box {
	animation: flyIn 0.3s ease-out;
	background-color: var(--input-background-fill);
	border-radius: 0.75em;
	box-shadow: 0 0.5em 1em hsla(var(--hue),10%,10%,0.1);
	height: 5em;
	transition:
		background-color var(--transDur),
		color var(--transDur);
}
.notification--out .notification__box {
	animation: flyOut 0.3s ease-out forwards;
}
.notification__content {
	padding: 0.375em 1em;
	width: 100%;
	height: 100%;
}
.notification__icon {
	flex-shrink: 0;
	margin-right: 0.75em;
	width: 2em;
	height: 2em;
}
.notification__icon-svg {
	width: 100%;
	height: auto;
}
.notification__text {
	line-height: 1.333;
}
.notification__text-title {
	font-size: 0.85em;
	font-weight: bold;
}
.notification__text-subtitle {
	font-size: 0.7em;
	opacity: 0.75;
}

.notification__btn-text {
	display: inline-block;
	pointer-events: none;
	font-weight: 500;
	font-size: 0.85em;
}
.notification__btn:first-of-type {
	border-radius: 0 0.75rem 0 0;
}
.notification__btn:last-of-type {
	border-radius: 0 0 0.75rem 0;
}
.notification__btn:only-child {
	border-radius: 0 0.75rem 0.75rem 0;
}
.notification__btn + .notification__btn {
	box-shadow: 0 -1px 0 var(--border-color-primary);
	font-weight: 400;
}
.notification__btn:active,
.notification__btn:focus {
	background-color: hsl(var(--hue),10%,95%);
}
.notification__btn:focus {
	outline: transparent;
}

@supports selector(:focus-visible) {
	.notification__btn:focus {
		background-color: transparent;
	}
	.notification__btn:focus-visible,
	.notification__btn:active {
		background-color: hsl(var(--hue),10%,95%);
	}
}

/* Animations */
@keyframes flyIn {
	from {
		transform: translateX(calc(100% + 1.5em));
	}
	to {
		transform: translateX(0);
	}
}
@keyframes flyOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(100% + 1.5em));
	}
}

.contextMenu.prompt-container {

	.prompt-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 6px 10px;
		font-size: var(--text-md);
	}

	.prompt-label {
		font-weight: bold;
		margin-right: 10px;
	}

	.copy-button {
		margin-left: 10px;
		background-color: var(--button-background-fill);
		color: var(--body-text-color-subdued);
		border: none;
		cursor: pointer;
		transition: color 0.1s ease;
		font-style: italic;
	}

	.copy-button:hover {
		color: var(--body-text-color);
	}
}